/* ========================== Global Styles ========================== */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --violet: #170528;
  --light-violet: #260A3D;
  --lightest-violet: #411665;
  --slate: #8892B0;
  --light-slate: #A8B2D1;
  --lightest-slate: #CCD6F6;
  --white: #FFFFFF;
  --blue: #64DAFF;

  --violet-tint: rgba(23, 5, 40, 0.5);
  --blue-tint: rgba(100, 218, 255, 0.122);
  --blue-tint-alt: rgba(100, 218, 255, 0.55);

  --font-text: 'Work Sans', 'sans-serif';
  --font-head: 'Poppins', 'sans-serif';
  --font-title: 'Poppins', 'sans-serif';
  --font-num: 'Fira Code', 'monospace';

  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;

  --fs-head: 3.5rem;
  --fs-title: 3rem;

  --border-radius: 4px;

  --social-icons-size: 1.5rem;
  --social-bar-height: 6.25rem;

  --moon-size: 320px;
  --satellite-size: 60px;

  /* Transition */
  --quick: 200ms;
  --normal: 250ms;
  --slow: 300ms;

  /* Bezier Curves for transition-timing-function. Thanks to: https://matthewlein.com/tools/ceaser */
  --easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  --easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  --easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  --easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  /* 
    --custom-clr: NULL; Logical property
  */
}

@media screen and (max-width: 768px) {
  :root {
    --moon-size: 260px;
  }
}

body {
  color: var(--custom-color, var(--slate));
  font-family: var(--custom-font, var(--font-text));
  background-color: var(--violet);
  line-height: 1.4;
}

/* ========================== Typography ========================== */
svg {
  /* width: 100%;
  height: 100%; */
  fill: currentColor;
  color: var(--blue);
  vertical-align: middle;
}

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--font-head);
}

p,
li,
a {
  display: inline-block;
  letter-spacing: 0.25px;
  color: var(--slate);
  font-family: var(--font-text);
}

/* ========================== Utility Classes ========================== */
.flex {
  display: flex;
  align-items: var(--align-flex, center);
  gap: var(--gap, 1rem);
}

.container {
  width: calc(100vw - 3.5rem);
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1250px;
  /* border: 2px solid red; */
}

.btn {
  padding: 0.75em 1em;
  color: var(--btn-clr, var(--blue));
  border: 1px solid var(--btn-clr, var(--blue));
  border-radius: var(--border-radius);
  font-family: var(--font-custom, var(--font-text));
  font-size: var(--fs-custom, var(--fs-sm));
}

.no-animations *,
.no-animations *::before,
.no-animations *::after {
  animation: none !important;
  transition: none !important;
}

/* ========================== Navigation Bar ========================== */
.nav-header {
  display: grid;
  align-items: center;
  background-color: var(--violet-tint);
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  overflow: hidden;
}

.navbar {
  position: relative;
  justify-content: space-between;
  margin: 0 clamp(25px, 7.55vw, 50px);
}

.nav-logo {
  flex: 0 0 auto;
}

.nav-logo,
.nav-logo > a,
.nav-logo > a > svg {
  width: 42px;
  height: 42px;
}

#logo {
  fill: none;
  /* transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1); */
}

#logo:hover {
  fill: var(--blue-tint);
  /* transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1); */
}

.ham {
  display: none;
}

.nav-box {
  --gap: 1.5rem;
}

/* Hover effect doing the underline from left-in (on hover) to right-out (off hover) */
.nav-list-item {
  position: relative;
  font-size: var(--fs-sm);
  color: var(--lightest-slate);
  transition: color var(--normal) var(--easeInCubic);
}

.nav-list-item::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 1px); right: 0; bottom: 0; left: 0.5px;
  inset: calc(100% + 1px) 0 0 0.25px;
  width: 100%;
  height: 1px;
  background-color: var(--blue);
  border-radius: var(--border-radius);
  transform: scaleX(0);
  transform-origin: right;
  padding-block: 0.75px;
  transition: transform var(--normal) var(--easeOutSine);
}

.nav-list-item:hover {
  color: var(--blue);
}

.nav-list-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.resume-btn:hover {
  background-color: var(--blue-tint);
  /* background-image: conic-gradient(from 180deg, var(--blue), var(--blue-tint)); */
}

@media screen and (max-width: 768px) {
  .nav-box {
    --gap: 2.5rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: min(75vw, 400px);
    /* Fixes the issue of nav-menu notfilling the vertical space completely. It was getting obstructed by the browser's toolbar. Now the nav-box (which contains the nav-menu takes the full horizontal viewport of any given device*/
    height: 100vh;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(100%);
    transition: transform var(--quick) var(--easeOutCubic);
    background-color: var(--light-violet);
  }

  .nav-box[toggle="true"] {
    transform: translateX(0%);
  }

  .nav-box,
  .nav-list {
    flex-direction: column;
  }

  .resume-btn {
    --fs-custom: var(--fs-md);
    padding: 1em 2em;
  }

  .nav-list-item {
    position: relative;
    font-size: var(--fs-lg);
    transition: color 0.75s ease-out,
      letter-spacing 300ms ease-out;
  }

  .nav-list-item:hover {
    letter-spacing: 0.25rem;
  }

  .nav-list-item::before,
  .nav-list-item::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% + 1px);
    width: 0px;
    height: 1px;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    transition: width 300ms ease-out;
    transform: none;
    padding: 0.05rem 0;
  }

  .nav-list-item::before {
    right: 100%;
    margin-right: 0.75rem;
  }

  .nav-list-item::after {
    left: 100%;
    margin-left: 0.5rem;
    ;
  }

  .nav-list-item:hover::before,
  .nav-list-item:hover::after {
    width: 80px;
    transform: none;
    transform-origin: initial;
  }

  .ham {
    display: block;
    height: 22.5px;
    z-index: 20;
    position: relative;
    cursor: pointer;
  }

  .social {
    display: none;
  }
  /* Blur all the sections with an id of content or make sure every content is within a div tag with a class or id of content or anything */
  /* section {
    filter: blur(5px) brightness(0.8);
  } */
}

/* ========================== Main ========================== */
main {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
}

section {
  flex-direction: column;
  justify-content: center;
}

/* =================== Social Bar =================== */
.social {
  z-index: 9;
  position: fixed;
  margin-inline: 3rem;
  bottom: 0; right: 0; left: 0;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: none;
}

.social-list,
.mail-box {
  writing-mode: vertical-rl; /* Behaves like: flex-direction: column */
  --gap: 0.75rem;
  pointer-events: auto;
}

.social-list::after,
.mail-box::after {
  content: '';
  width: 1.5px;
  height: var(--social-bar-height);
  border-radius: 200px;
  background-color: var(--slate);
}

.social-items,
.mail-box > a {
  padding: 0.5rem 0.75rem;
  transition: all var(--normal) var(--easeInOutSine);
}

.social-items > .icons,
.mail-box > a {
  color: var(--light-slate);
}

.social-items > .icons {
  width: var(--social-icons-size);
  height: var(--social-icons-size);
}

.social li:nth-child(2) .icons {
  margin-top: -3px;
}

.mail-box > a {
  margin-left: 1px;
  font-size: var(--fs-sm);
  letter-spacing: 0.125rem;
}

.social-items:hover > .icons path,
.mail-box > a:hover {
  color: var(--blue);
}

.social-items:hover,
.mail-box > a:hover {
  transform: translateY(-5px);
}

/* =================== Home =================== */
.home {
  --gap: 0;
  align-items: center;
  justify-content: space-evenly;
}

.home-text {
  --gap: 0;
  flex-direction: column;
  --align-flex: flex-start;
  padding-top: 40%;
}

.ht-intro {
  font-weight: 100;
  color: var(--blue);
  font-size: clamp(var(--fs-md), 1vw, var(--fs-xl));
  font-family: var(--font-text);
  margin-bottom: 1rem;
  /* margin-left: 0.185rem; */
}

.ht-name {
  font-weight: 600;
  font-size: var(--fs-head);
  color: var(--lightest-slate);
  margin-bottom: -0.4rem;
}

.ht-desc {
  /* font-size: clamp(var(--fs-md), 100vw, var(--fs-lg)); */
  margin: 1rem 0 1.5rem 0;
  font-size: var(--fs-md);
  max-width: 584px;
}

.ht-btn {
  position: relative;
  --fs-custom: var(--fs-md);
}

.ht-btn,
.btn-arrow {
  transition: all var(--normal) var(--easeOutSine);
}

.btn-arrow {
  z-index: -1;
  opacity: 0;
  width: 40px;
  height: 16px;
  position: absolute;
  left: 100%; top: 35%; bottom: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

.ht-btn:hover {
  background-color: var(--blue-tint);
}

.ht-btn:hover .btn-arrow {
  opacity: 1;
  transform: translateX(10px);
}

.mini-system {
  position: relative;
}

.mini-system .moon {
  color: var(--slate);
  width: var(--moon-size);
  height: var(--moon-size);
}

.mini-system .satellite {
  width: var(--satellite-size);
  height: var(--satellite-size);
  transform: translateY(20px) rotate(6deg);
}

.satellite-box {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: center;
  animation: revolve 6s linear infinite;
}

.satellite-box::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: var(--moon-size);
  height: var(--moon-size);
  border: 1px solid var(--blue-tint-alt);
  border-radius: var(--moon-size);
}

@keyframes revolve {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}